@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #F6F6F6;
    --color-terciario: #22D4FD;
    --color-hover: #272727;

    --fuente-montserrat:font-family: "Montserrat", serif;
    --fuente-krona:  font-family: "Krona One", serif;
}

body{
    background-color: var(--color-primario);
    color: var(--color-secundario);
    box-sizing: border-box;
}

header{
    padding: 2% 0% 0% 15%;
}

.menuLink:hover{
    colo:var(--color-hover);
}

.menu{
    display: flex;
    gap: 80px;
}

.menuLink{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    color: var(--color-terciario);
    text-decoration: none;

}

.presentacion{
    display: flex;
    align-items: center;
    padding: 3% 10%;
    justify-content: space-between;
}

.p_contenido{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 0 5%;
}

.pContenidoTitulo{
    font-size: 36px;
    font-family: var(--fuente-krona);

}

.tituloDestaque{

    color: var(--color-terciario);

}


.pContenidoTexto{
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

.pEnlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;

}

.pEnlacesRSS{
    width: 378px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 24px;
    font-family: var(--fuente-montserrat);
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);;
    display: flex;
    justify-content: center;
    gap: 10px;

}

.pEnlacesRSS:hover{
    background-color:var(--color-hover);
}


.pEnlacesSubtitulo{
    font-family: var(--fuente-krona);
    font-size:24px;
}

.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color:var(--color-primario);
    text-align: center;
    font-size: 24px;
    font-family: var(--fuente-montserrat);
}

#textoSobreMi{
    text-align: justify;
}